extends layout
block title
	title NMVC
	meta(name="description",content="")

block content
	ul
		li
			a(href="/json/tx/d02658745c8f294895b2860c2ad939be3c6d890d4bc61f81f3604472316694dc") example json tx
